.App{
    text-align: center;
}

.checkbox{
    margin: 5px 0 0 0;
}

ul{
    list-style: none;
}

li{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.delete{
    color: red;
    cursor: pointer;
}

input:checked + span {
    text-decoration: line-through;
}